{
	"parser": "babel-eslint",
	"rules": {
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"linebreak-style": [
			2,
			"unix"
		],
		"no-console": [
			1
		],
		"no-empty": [
			0
		],
		"semi": [
			2,
			"always"
		],
		"quotes": [
			2,
			"single"
		],
		"no-unused-vars": [
			1
		]
	},
	"env": {
		"browser": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"globals": {
		"console": false,
		"expect": true,
		"module": true,
		"require": true,
		"setTimeout": true,
		"clearTimeout": true,
		"jQuery": true,
		"describe": true,
		"bind": true,
		"it": true,
		"$": true
	}
}
